.news_topics_section{
    /* background-color: brown; */
    padding: 40px 0;
    border: solid 1px white;
}

.news_section{
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    padding: 15px 0;
    /* background-color: blueviolet; */
}

.news_text{
    text-align: center;
    /* background-color: aqua; */
    /* border: solid 1px black; */
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
}

.news_image_container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;

}


.news_image_box{
    flex: 1 1 50%;
    /* border: solid 1px red; */
    line-height: 0;
    overflow: hidden;
    position: relative;
    min-width: 200px; 
    /* aspect-ratio: 16 / 9;  */
}


.photonews{
    width: 100%; /* βάζω το 100% του πατέρα που είναι το topics_box που είναι το 50% */
    height: 100%;  /* γεμίζει όλο το box */
    display: block;
    object-fit: cover; /* crop χωρίς παραμόρφωση */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.photonews:hover {
  transform: scale(1.02);       /* μικρό zoom στο hover */
}

.lightbox {
  position: fixed;
  inset: 0;                     /* γεμίζει όλη την οθόνη */
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.news_text_box{
    flex: 1 1 50%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* κάθετη στοίχιση */
    gap: 10px;
    padding: 12px;
    /* background-color: #cec5c5; */
}
